@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
